#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.title{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.title h2{
  color: white;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cv{
  background-color: white;
  width: 70vw;
  padding-bottom: 40px;
}

input, textarea{
  font-size: 1rem;
  margin: 10px 0px;
  border: none;
  background-color: rgb(145, 144, 144);
  border-bottom: 1px solid white;
  padding: 5px;
  box-sizing: border-box;
}
button{
  margin: 20px 0px;
  background-color: rgb(87, 104, 237);
}